@import url("/fonts/letosans/stylesheet.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic");

body {
  width: 1600px;
  margin-inline: auto;
  font-family: "Leto Sans", "Arial";
  color: #000000;
}

h2 {
  font-size: 40px;
  font-weight: 400;
}

header {
  display: flex;
  height: 125px;
  padding-left: 216px;
  margin-bottom: 38px;
  justify-content: start;
  align-items: center;
}

.nav {
  padding-left: 95px;
  list-style-type: none;
  display: inline-flex;
}

.nav a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.nav li:nth-child(-n + 3) a {
  padding-right: 44px;
}

.nav li:nth-child(2) a {
  padding-right: 26px;
}

.nav li a:where(:hover, :focus-visible) {
  color: #9c2e29;
}

.arrow-in-menu-down {
  stroke: #000000;
}

.arrow-in-menu-up {
  stroke: #9c2e29;
  visibility: hidden;
}

.nav:where(:hover, :focus-visible) .arrow-in-menu-down {
  stroke: #9c2e29;
}

.menu-arrow-active {
  color: #9c2e29;
}

.main-pictures {
  height: 726px;
}

.menu-arrow {
  display: flex;
  align-items: center;
}

.menu-arrow-active {
  align-items: flex-end;
}

.menu-arrow svg {
  padding-left: 6px;
}

.citys-phones {
  visibility: hidden;
  padding-left: 192px;
}

.citys-phones button {
  font-size: 18px;
  background-color: white;
  border: none;
  text-align: right;
  padding: 0;
  border-bottom: 2px dotted #9c2e29;
  margin-right: 15px;
}

.citys-phones button:where(:hover, :focus-visible) {
  color: #9c2e29;
  border-bottom: 2px dotted black;
  cursor: pointer;
}

.citys-phones-menu {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 1320px;
  top: 50px;
  line-height: 30px;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.citys-phones ul {
  list-style-type: none;
  padding: 7px 10px 7px 7px;
  margin: 0;
  background-color: #fff;
}

.citys-phones ul li:where(:hover, :focus-visible) {
  border-bottom: 2px dotted #9c2e29;
  cursor: pointer;
}

.slide {
  position: relative;
  z-index: 5;
  top: -730px;
  left: 154px;
  animation: slide 5s ease-in-out infinite alternate;
}

@keyframes slide {
  0% {
    left: 134px;
  }
  100% {
    left: 164px;
  }
}

.picture-text {
  position: absolute;
  z-index: 10;
  width: 479px;
  height: 129px;
  top: 268px;
  left: 180px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;
  color: #ffffff;
}

.send-request {
  position: absolute;
  z-index: 10;
  top: 470px;
  left: 531px;
}

.color-brand-name {
  font-weight: 700;
  color: #9c2e29;
}

.color-brand {
  color: #9c2e29;
}

.info-section {
  margin: 118px auto 0 auto;
  width: 1170px;
}

.services {
  margin-top: 52px;
  margin-bottom: 0px;
}

.construction-tasks {
  margin-top: 84px;
  display: flex;
  padding-top: 0px;
  justify-content: space-between;
  align-items: flex-start;
}

.construction-tasks h2 {
  width: 955px;
}

.construction-tasks div {
  width: 227px;
  height: 146px;
}

.construction-tasks p {
  font-size: 16px;
  line-height: 21px;
  color: #a6a6a6;
}

.info-text {
  font-size: 18px;
  width: 1059px;
  margin-top: 13px;
}

.info-text-services {
  margin-bottom: 40px;
}

.company-services {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-row-gap: 30px;
}

.service {
  box-sizing: border-box;
  width: 370px;
  height: 350px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.service p {
  margin: auto 8px auto 8px;
}

.service div {
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 8px;
}

.services-promo-text {
  grid-column: 2 / 4;
  width: 583px;
  height: 289px;
  margin: auto;
}

.company-services .service img {
  filter: blur(3px);
}

.company-services .service:hover {
  border: 1px solid #9c2e29;
  cursor: default;
}

.company-services .service:hover img {
  filter: blur(0);
}

.company-services p {
  width: 500px;
  padding-left: 30px;
  margin-top: -15px;
}

.promo-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #a6a6a6;
}

.img-promo-send-request {
  float: right;
}

.button-animation:hover {
  transform: scale(0.9);
  cursor: pointer;
}

.mini-slider {
  display: flex;
  flex-wrap: wrap;
}
.mini-slider-photo {
  width: 470px;
  height: 363px;
}

.arrows-left-right {
  position: relative;
  float: right;
  top: -368px;
}

.arrow-left {
  padding-left: 55px;
  transform: translateX(5px);
}

.arrow-left:hover,
.arrow-right:hover {
  transform: scale(1.1);
  opacity: 0.6;
}

.mini-slider-text {
  width: 526px;
  margin: auto 0 auto 150px;
}

.red-background {
  background-color: #9c2e29;
  margin-top: 118px;
  display: flex;
  flex-wrap: wrap;
}

.about {
  height: 449px;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}
.about h2 {
  font-size: 35px;
}

.about p {
  font-size: 20px;
  line-height: 26px;
}

.red-background img {
  margin: 0 92px 0 186px;
}

#about-image {
  margin: 0;
  margin-right: 66px;
}
.red-background div {
  width: 570px;
  height: auto;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.red-background button {
  color: white;
  background-color: rgba(255, 255, 255, 0);
  padding: 17px 38px;
  border-radius: 100px;
  border: 1px solid white;
  margin-top: 25px;
}

.ekonom-time h2 {
  margin-bottom: 100px;
}

.color-white {
  color: #ffffff;
}
.ekonom-time {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ekonom-time > div {
  width: 570px;
  height: 217px;
  background-color: #ececec;
}

h3 {
  font-size: 25px;
  font-weight: bold;
}

.ekonom-time p {
  width: 473px;
  height: 92px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  position: relative;
  top: -100px;
  left: 44px;
}
.ekonom-time-header {
  position: relative;
  top: -55px;
}

.ekonom-time img {
  padding-left: 33px;
}

.ekonom-time h3 {
  position: relative;
  padding-left: 145px;
}

.h3-ekonom {
  top: -58px;
}

.ekonom-time a {
  position: relative;
  top: -80px;
  left: 44px;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.ekonom-time a:hover {
  box-shadow: inset 150px 0 0 0 #9c2e29;
  color: white;
}

.talk-about {
  width: 1600px;
  height: 591px;
  margin-top: 118px;
  background-image: url("/Image/residential-complex.png");
  background-origin: border-box;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.talk-about h2 {
  width: 611px;
  height: 130px;
  margin: auto;
  font-size: 50px;
  text-align: center;
  line-height: 70px;
}

.talk-about a {
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.talk-about a:hover {
  box-shadow: inset 170px 0 0 0 white;
  color: #9c2e29;
}

.technical-task {
  height: 464px;
  display: flex;
  flex-wrap: wrap;
  margin: 186px 227px 0 215px;
}

.technical-task svg {
  width: 370px;
  height: 464px;
  margin-left: 300px;
}

.technical-task h2 {
  width: 591px;
  height: 156px;
  font-size: 30px;
  font-style: normal;
  position: relative;
  bottom: 300px;
}

.technical-task p {
  font-size: 20px;
  line-height: 24px;
  width: 425px;
  height: 96px;
  margin-bottom: 18px;
}

.services button a {
  text-decoration: none;
  color: white;
}

.services svg {
  position: relative;
  top: 5px;
  left: 10px;
  padding-right: 37px;
}

.roof-question-about {
  width: 1170px;
  height: 820px;
}

.roof-question {
  display: flex;
  width: 1100px;
  height: 104px;
  margin-top: 143px;
}

.roof-question h2 {
  width: 1000px;
  height: 104px;
  padding-left: 46px;
  margin: 0;
}

.roof-tile {
  width: 370px;
  height: 320px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #a6a6a6;
  padding: 25px 27px 0 27px;
  margin-bottom: 30px;
}

.roof-tile p {
  font-size: 14px;
  line-height: 18px;
  color: #a6a6a6;
}

.roof-tile h3 {
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.roof-tile-container {
  height: 640px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 41px;
}

.roof-question-example {
  height: 721px;
  margin-top: 120px;
}

.roof-question-example > h2 {
  width: 1000px;
}

.roof-question-example > div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.roof-question-example img {
  padding-bottom: 30px;
}

:is(.services, .technical-task) button {
  width: 322px;
  height: 47px;
  background-color: #9c2e29;
  border: none;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
}
.button-transition {
  transition: transform 0.3s ease-out;
}

.technical-task div:first-child {
  height: 464px;
}

.technical-task div:last-child {
  width: 425px;
  height: 175px;
  margin: 180px 0 0 63px;
}

#request-call {
  width: 643px;
  height: 800px;
  margin: 107px auto 0 auto;
}

#request-call h2 {
  width: 643px;
  text-align: center;
}

#request-call label {
  color: #a6a6a6;
}

#request-call input {
  margin-bottom: 40px;
  height: 35px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #9c2e29;
  outline: none;
  color: black;
}

#request-call label,
#request-call input {
  font-size: 20px;
  width: 100%;
  display: flex;
}

.input-field {
  display: flex;
  flex-direction: column-reverse;
}

#request-call label {
  position: relative;
  transition: 0.5s;
  top: 30px;
  background-color: rgba(255, 255, 255, 1);
}

#request-call input:focus ~ label,
#request-call input:valid ~ label {
  top: 0;
}

#request-call label[for="date"],
#request-call input[id="date"] {
  width: 259px;
}

#request-call label[for="time"],
#request-call input[id="time"] {
  width: 340px;
}

.date-time {
  display: flex;
  justify-content: space-between;
}

#load-file label {
  text-align: center;
  line-height: 36px;
  align-items: center;
  justify-content: center;
  color: #000000;
  font-size: 25px;
}

.load-file-label svg {
  padding-right: 5px;
  display: flex;
}

#input-file {
  visibility: hidden;
  position: absolute;
  left: 0;
}

.load-file {
  display: flex;
  border: 1px dashed black;
  height: 92px;
  transition: 0.5s;
}

.load-file:hover {
  border: 1px dashed rgb(156, 46, 41);
  transform: scale(1.05);
}

.load-file:hover span {
  color: #9c2e29;
  transition: color 0.5s;
}

.load-file svg {
  fill: #000000;
  transition: fill 0.5s;
}

.load-file:hover svg {
  fill: #9c2e29;
}

#request-call p {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  width: 532px;
  margin: 0 auto 0 auto;
  padding-top: 20px;
}

#request-call a {
  text-decoration: none;
  background: linear-gradient(0deg, #9c2e29, #9c2e29) no-repeat right bottom / 0
    var(--bg-h);
  transition: background-size 350ms;
  --bg-h: 100%;
}

#request-call a:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
  color: white;
}

#request-call input[type="submit"] {
  width: 270px;
  height: 47px;
  background-color: #9c2e29;
  color: white;
  border-radius: 5px;
  justify-content: center;
  margin: 30px auto 0 auto;
}

footer {
  margin-top: 107px;
  height: 300px;
  background-color: #f7f6f5;
  padding: 64px 215px 0 215px;
}

footer > div {
  display: flex;
  margin: 0;
  justify-content: space-between;
  align-items: flex-start;
}

p {
  margin: 0;
}

.address {
  width: 300px;
  height: 163px;
  font-style: normal;
  text-transform: uppercase;
}

.address h3 {
  margin-top: 0;
}

.menu-messengers {
  width: 445px;
  height: 142px;
}

.menu-messengers nav {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-button a:hover {
  color: #9c2e29;
}

.menu-messengers div {
  width: 217px;
  height: 49px;
  margin: 70px auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.working-time > p {
  margin-top: 10px;
}

footer > div > div:nth-child(2) a {
  font-style: normal;
  font-size: 18px;
  text-decoration: none;
  color: #000000;
}

.copyright {
  width: 1003px;
  height: 53px;
  margin: 70px auto 0 auto;
  font-size: 8px;
  color: #a6a6a6;
  padding: auto;
}

.copyright p {
  display: flex;
  margin: auto 0 auto 15px;
  align-items: center;
}

footer > div > div:nth-child(3) {
  width: 181px;
  height: 122px;
}

.drop-down-navigation-menu {
  width: 776px;
  height: 296px;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  top: 80px;
  left: 755px;
  z-index: 100;
  transition: all 0.3s linear;
  transform: scale(1, 0.9);
  opacity: 0;
}

.drop-down-navigation-menu-visible {
  transform: scale(1, 1);
  opacity: 1;
}

.drop-down-navigation-menu ul {
  margin-top: 30px;
  margin-left: 40px;
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(152px, 1fr));
  grid-template-rows: repeat(auto-fit, 120px);
  align-items: start;
}

.drop-down-navigation-menu li {
  width: 120px;
  transition: all 0.2s linear;
}

.drop-down-navigation-menu li:where(:hover, :focus-visible) {
  transform: scale(1.3);
  color: #9c2e29;
}

.drop-down-navigation-menu li:where(:hover, :focus-visible) > a {
  color: black;
}

.drop-down-navigation-menu a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #a6a6a6;
}

address {
  font-style: normal;
}

address p {
  font-size: 18px;
}

address a {
  text-decoration: none;
  color: #9c2e29;
}

.label-text {
  font-size: 20px;
  color: #a6a6a6;
}

.adress-block {
  font-size: 25px;
  line-height: 33px;
  margin: auto 0 auto 123px;
  color: #ffffff;
}

.map {
  width: 422px;
  height: 422px;
  margin: auto 0 auto 285px;
  background-color: white;
}

.adress-block > p:nth-child(3) {
  margin-top: 15px;
}

.red-background-contacts {
  display: flex;
  background-color: #9c2e29;
  height: 461px;
}

address > div {
  display: flex;
  margin-top: 51px;
}

address > div > div:nth-child(2) {
  margin-left: 225px;
}

address[class="info-section"] {
  margin-top: 15px;
}

.messendger-icon:hover {
  transform: scale(0.9);
}

.header-bold {
  width: 1000px;
  height: 122px;
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 50px;
  line-height: 61px;
  margin-bottom: 15px;
}
